/* ------------ Fonts ------------ */

@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:300,400|Lora|Montserrat:100,400,400i,800');

/* ------------ Main Styling ------------ */

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Hind', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  font-size: 26px;
}

h2, .card-stat {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #01434f;
}

hr {
  border-top: 1px solid #01434f;
}

a:hover {
  color: #00aa81;
  text-decoration: none;
}

.logo {
  height: 40px;
  margin-bottom: 5px;
}

.header {
  background: #00aa81;
  background: -webkit-linear-gradient(15deg, #00aa81, #01434f);
  background: linear-gradient(75deg, #00aa81, #01434f);
  padding: 0.5rem;
}

.wallet-stats p {
  color: #FFF;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.2;
}

.data-container {
  padding: 2rem 0.5rem;
  background: rgba(0, 170, 129, 0.3);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.data-container p {
  color: #01434f;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.stats-container {
  padding: 1rem;
}

.progress-bar {
  margin-bottom: 1rem;
}

.double-margin {
  margin-bottom: 1rem;
}

.no-margin {
  margin-bottom: 0px;
}


/* ------------ Tables ------------ */

.link {
  font-family: 'Montserrat', sans-serif;
  color: #01434f;
  font-size: 18px;
  border-bottom: 3px solid #FFF;
  padding-top: 5px;
  padding-bottom: 5px;
}

.active {
  border-bottom: 3px solid #01434f;
  transition: 0.5s;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  font-weight: 700;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -3px 0 0 #01434f;
}

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 3px 0 0 #01434f;
}

.ReactTable .rt-tbody .rt-td {
  text-align: center;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: solid 1px rgba(1, 67, 79, 0.2);
}

.ReactTable.-striped .rt-tr.-odd {
  background: rgba(0, 170, 129, 0.2);
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background: #01434f;
  color: #FFF;
  transition: 0.25s;
}

.ReactTable .-pagination .-btn {
  color: #FFF;
  background: #01434f;
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
    background: rgba(1, 67, 79, 0.8);
}

.no-padding {
  padding: 0;
}


/* ------------ Finish ------------ */

iframe {
  visibility: hidden;
  display: none;
}

.video {
  width: 100%;
  height: 100%;
}

.em-champagne-right, .em-champagne-left {
  width: 100px;
  height: 100px;
}

.em-champagne-right {
  -webkit-animation: spin 1s linear infinite;
  -mozs-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.em-champagne-left {
  -webkit-animation: spin 1s linear infinite;
  -mozs-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  animation-direction: reverse;
}

@-moz-keyframes spin {
    0% {
      -moz-width: 150px;
      -moz-height: 150px;
      -moz-transform: rotate(0deg);
    }
    50% {
      -moz-width: 200px;
      -moz-height: 200px;
      -moz-transform: rotate(180deg);
    }
    100% {
      -moz-width: 150px;
      -moz-height: 150px;
      -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    0% {
      -webkit-width: 150px;
      -webkit-height: 150px;
      -webkit-transform: rotate(0deg);
    }
    50% {
      -webkit-width: 200px;
      -webkit-height: 200px;
      -webkit-transform: rotate(180deg);
    }
    100% {
      -webkit-width: 150px;
      -webkit-height: 150px;
      -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
  0% {
    width: 150px;
    height: 150px;
    transform: rotate(0deg);
  }
  50% {
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
  }
  100% {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
  }
}

/* ------------ Media Queries ------------ */

@media (min-width: 1300px) {
  .container {
      max-width: 1500px;
  }
}
